<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CUKCUK</title>
    <link href="../Contents/images/favicon.ico" rel="shortcut icon" />
    <link href="../CSS/views/header.css" rel="stylesheet" />
    <link href="../CSS/views/menu.css" rel="stylesheet" />
    <link href="../CSS/views/style.css" rel="stylesheet" />
    <link href="../CSS/views/content.css" rel="stylesheet" />
    <link href="../CSS/views/dialog.css" rel="stylesheet" />
    <link href="../CSS/libraries/jquery-ui.css" rel="stylesheet" />
    <link href="../CSS/libraries/bootstrap.min.css" rel="stylesheet" />

</head>
<body>

    <div class="father">
        <div class="nav-menu">
            <div class="logo">
                <div class="logo-mshop">
                    <!--<div class="content-logo">
                    CUKCUK
                </div>-->
                </div>
                <div class="content-logo">
                    CUKCUK
                </div>
            </div>
            <div class="center-content-menu">
                <a class="parent cls-home ">
                    <span class="img iconcls-home">&nbsp;</span>
                    <span class="link-text">Tổng quan</span>
                </a>
                <a class="parent cls-report">
                    <span class="img iconcls-report">&nbsp;</span>
                    <span class="link-text">Báo cáo</span>
                </a>
                <a class="parent cls-deliveryledger">

                    <span class="img iconcls-deliveryledger"></span>
                    <span class="link-text">Mua hàng</span>
                </a>

                <a class="parent cls-purchares">
                    <span class="img iconcls-purchares">&nbsp;</span>
                    <span class="link-text">Kho</span>
                </a>
                <a class="parent cls-stock">
                    <span class="img iconcls-stock">&nbsp;</span>
                    <span class="link-text">Quỹ tiền mặt</span>
                </a>
                <a class="parent cls-cash">
                    <span class="img iconcls-cash">&nbsp;</span>
                    <span class="link-text">Quỹ tiền gửi</span>
                </a>
                <a class="parent cls-payment-receipt">
                    <span class="img iconcls-payment-receipt">&nbsp;</span>
                    <span class="link-text">Chi phí</span>
                </a>

                <a class="parent cls-promotion">
                    <span class="img iconcls-promotion">&nbsp;</span>
                    <span class="link-text">Khuyến mại</span>
                </a>
                <a class="parent cls-dictionary ">
                    <span class="img iconcls-dictionary ">&nbsp;</span>
                    <span class="link-text">Thực đơn</span>
                </a>

                <a class="parent cls-meinvoice menu-active">
                    <span class="img iconcls-meinvoice">&nbsp;</span>
                    <span class="link-text">Danh mục</span>
                </a>

                <a class="parent cls-settings">
                    <span class="img iconcls-settings">&nbsp;</span>
                    <span class="link-text">Hủy hóa đơn</span>
                </a>

                <a class="parent cls-menuhelp">
                    <span class="img iconcls-menuhelp">&nbsp;</span>
                    <span class="link-text">SMS Marketing</span>
                </a>

                <a class="parent cls-omnichannel">
                    <span class="img iconcls-omnichannel">&nbsp;</span>
                    <span class="link-text">Đối tác giao hàng</span>
                </a>
                <a class="parent cls-fiveshop">
                    <span class="img iconcls-fiveshop">&nbsp;</span>
                    <span class="link-text">Hóa đơn điện tử</span>
                </a>
                <a class="parent cls-fiveshop">
                    <span class="img iconcls-fiveshop1">&nbsp;</span>
                    <span class="link-text">Thiết lập hệ thống</span>
                </a>
                <a class="parent cls-fiveshop">
                    <span class="img iconcls-fiveshop2">&nbsp;</span>
                    <span class="link-text">Trợ giúp</span>
                </a>
                <a class="parent cls-fiveshop">
                    <span class="img iconcls-fiveshop3">&nbsp;</span>
                    <span class="link-text">Thuê bao</span>
                </a>
                <a class="parent cls-fiveshop">
                    <span class="img iconcls-fiveshop4">&nbsp;</span>
                    <span class="link-text">5Food</span>
                </a>
            </div>
        </div>
        <div class="Right">
            <!--Phần header-->
            <div class="page-header">
                <div class="tiecbandao">
                    <div class="tiecbandao-content">
                        Tiệc bàn đào
                    </div>
                    <div class="tiecbandao-icon">

                    </div>
                </div>
                <div class="tiengviet">
                    <div class="tiengviet-content">
                        Tiếng Việt(Tiếng Việt)
                    </div>
                    <div class="tiengviet-icon">

                    </div>
                </div>
                <div class="thongbao">

                </div>
                <div class="help">

                </div>
                <div class="user">
                    <div class="user-icon">

                    </div>
                    <div class="user-content">
                        Nguyễn Đức Thiện
                    </div>
                    <div class="user-icon2">

                    </div>
                </div>
            </div>
            <!--Phần header2-->
            <div class="page-header2">
                <div class="page-header2-right">
                    <div class="danhmuc">
                        Danh mục
                    </div>
                    <div class="danhmuc-icon">

                    </div>
                    <div class="khachhang">
                        Khách hàng
                    </div>
                </div>
                <div class="page-header2-center">
                    Quay lại thiết lập ban đầu
                </div>
                <div class="page-header2-left">
                    <div class="page-header2-left-icon">

                    </div>
                    <div class="page-header2-left-content">
                        Phản hồi
                    </div>
                </div>
                <div>

                </div>
            </div>
            <!--Phàn toobar-->
            <div class="toolbar">
                <button class="toolbar-item add">
                    <div class="icon"> </div>
                    <div class="content">Thêm </div>
                </button>
                <button class="toolbar-item duplicate">
                    <div class="icon"> </div>
                    <div class="content">Nhân bản </div>
                </button>
                <button class=" toolbar-item edit">
                    <div class="icon"> </div>
                    <div class="content">Sửa </div>
                </button>
                <button class=" toolbar-item delete">
                    <div class="icon"> </div>
                    <div class="content">Xóa </div>
                </button>
                <button class=" toolbar-item reload">
                    <div class="icon"> </div>
                    <div class="content"> Nạp </div>
                </button>
                <button class=" toolbar-item download">
                    <div class="icon"> </div>
                    <div class="content">Nhập khẩu </div>
                </button>
                <button class=" toolbar-item upload">
                    <div class="icon"> </div>
                    <div class="content">Xuất khẩu </div>
                </button>
                <button class=" toolbar-item gopkhachhang">
                    <div class="icon"> </div>
                    <div class="content"> Gộp khách hàng </div>
                </button>
                <button class=" toolbar-item help">
                    <div class="icon"> </div>
                    <div class="content">Giúp </div>
                </button>
            </div>
            <div class="table-content">
                <table class="main-table">
                    <thead>
                        <tr>
                            <th fieldName="customerId" style="width: 5.7%;">
                                <div class="on ">Mã khách hàng</div>
                                <div class="under">
                                    <button style="width: 35%;">*</button>
                                    <input />
                                </div>
                            </th>
                            <th fieldName="customerName" style="width: 8.3%;">
                                <div class="on ">Tên khách hàng</div>
                                <div class="under">
                                    <button>*</button>
                                    <input />
                                </div>
                            </th>
                            <th fieldName="company" style="width: 7.5%;">
                                <div class="on ">Tên công ty</div>
                                <div class="under">
                                    <button>*</button>
                                    <input />
                                </div>
                            </th>
                            <th fieldName="taxCode" style="width: 4%;">
                                <div class="on">Mã số thuế</div>
                                <div class="under">
                                    <button style="width: 40%;">*</button>
                                    <input />
                                </div>
                            </th>
                            <th fieldName="andress" style="width: 8%;">
                                <div class="on">Địa chỉ</div>
                                <div class="under">
                                    <button>*</button>
                                    <input />
                                </div>
                            </th>
                            <th fieldName="phone" style="width: 4.5%;">
                                <div class="on">Số điện thoại</div>
                                <div class="under">
                                    <button>*</button>
                                    <input />
                                </div>
                            </th>
                            <th fieldName="email" tyle="width: 9.5%;">
                                <div class="on">Email</div>
                                <div class="under">
                                    <button>*</button>
                                    <input />
                                </div>
                            </th>
                            <th fieldName="membershipCard">
                                <div class="on" style="font-size: 10px;">Mã thẻ thành viên</div>
                                <div class="under">
                                    <button>*</button>
                                    <input />
                                </div>
                            </th>
                            <th fieldName="levelCard" style="width: 4%;">
                                <div class="on">Hạng thẻ</div>
                                <div class="under">
                                    <button style="width: 50%;">*</button>
                                    <input />
                                </div>
                            </th>
                            <th fieldName="debt" style="width: 4%;">
                                <div class="on">Số tiền nợ</div>
                                <div class="under">
                                    <button style="width: 50%;">*</button>
                                    <input />
                                </div>
                            </th>
                            <th fieldName="note">
                                <div class="on">Ghi chú</div>
                                <div class="under">
                                    <button>*</button>
                                    <input />
                                </div>
                            </th>
                            <th fieldName="member5food">
                                <div class="on1" style="font-size: 10px;">Thành viên 5Food</div>
                                <select class="under1" style=""></select>
                            </th>
                            <th fieldName="status" style="width: 5.5%;">
                                <div class="on1" style="font-size: 10px;">Ngừng theo dõi</div>
                                <select class="under1" style="">
                                    <option>Không</option>
                                    <option>Có</option>
                                </select>
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <!---Phần phân trang-->
            <div class="page-division">
                <button class="page-first"></button>
                <button class="page-prev"></button>
                <div class="three">Trang</div>
                <input id="pageIndex" value="1" type="text" class="four" />
                <div class="five"></div>
                <button class="page-next"></button>
                <button class="page-last"></button>
                <button class="reload-page"></button>
                <select id="pageSize" class="nine">
                    <option class="opn">50</option>
                    <option class="opn">25</option>
                    <option class="opn">100</option>
                </select>
                <div class="ten"></div>
            </div>
        </div>

      
        <!--Dialog Thêm-->
        <div id="dialog-add" class="dialog">
            <div class="dialog-add-top">
                <div class="title">Khách hàng</div>
                <div class="dauX"><div class="icon"></div></div>
            </div>

            <div class="dialog-add-center">
                <div class="dialog-component" style="margin-top: 7px;">
                    <div class="dialog-component-child  ">
                        <div class="right">Mã khách hàng <span>( * )</span></div>
                        <input property="customerId" class="ip" type="text"  />
                        <div class="icon-danger icon-id"> </div>
                        <div class="danger-content idd">Giá trị không hợp lệ!</div>
                    </div>
                    <div class="dialog-component-child  ">
                        <div class="right">Tên khách hàng  <span>( * )</span></div>
                        <input property="customerName" class="ip" type="text" />
                        <div class="icon-danger icon-name"> </div>
                        <div class="danger-content namee">Giá trị không hợp lệ!</div>
                    </div>
                </div>
                <div class="dialog-component">
                    <div class="dialog-component-child">
                        <div class="right">Nhóm khách hàng</div>
                        <input property="customerGroup" class="ip" type="text" />
                    </div>
                </div>
                <div class="dialog-component">
                    <div class="dialog-component-child">
                        <div class="right">ĐT di động  <span>( * )</span></div>
                        <input property="phone" class="ip" type="text" />
                        <div class="icon-danger icon-phone"></div>
                        <div class="danger-content phonee">Giá trị không hợp lệ!</div>
                    </div>
                </div>
                <div class="dialog-component">
                    <div class="dialog-component-child">
                        <div class="right">Ngày sinh  <span>( * )</span></div>
                        <input property="born" class="ip" type="date" style="overflow:hidden; padding:0px; " />
                        <div class="stupidBoy"></div>
                        <div class="icon-danger icon-born"> </div>
                        <div class="danger-content bornn">Giá trị không hợp lệ!</div>
                    </div>
                </div>
                <div class="dialog-component">
                    <div class="dialog-component-child">
                        <div class="right">Tên công ty</div>
                        <input property="company" class="ip" type="text" />
                    </div>
                </div>
                <div class="dialog-component">
                    <div class="dialog-component-child ">
                        <div class="right">Mã số thuế</div>
                        <input property="taxCode" class="ip" type="text" />
                    </div>
                    <div class="dialog-component-child ">
                        <div class="right">Email</div>
                        <input property="email" class="ip" type="text" />
                    </div>
                </div>
                <div class="dialog-component">
                    <div class="dialog-component-child">
                        <div class="right">Địa chỉ</div>
                        <input property="andress" class="ip" type="text" style="width: 528px;" />
                    </div>
                </div>
                <div class="ghichu">
                    <div class="right">Ghi chú</div>
                    <input property="note" class="ip" id="haizz" />
                </div>
            </div>

            <div class="dialog-add-bottom">
                <button class="help">
                    <div class="icon-bottom"></div>
                    <div class="content-bottom">Giúp</div>
                </button>
                <button class="save">
                    <div class="icon-bottom"></div>
                    <div class="content-bottom">Cất</div>
                </button>
                <button class="save-add">
                    <div class="icon-bottom"></div>
                    <div class="content-bottom">Cất & Thêm</div>
                </button>
                <button class="cancel">
                    <div class="icon-bottom"></div>
                    <div class="content-bottom">Hủy</div>
                </button>
            </div>
        </div>

        <!---Dialog Sửa-->
        <div id="dialog-edit" class="dialog">
            <div class="dialog-add-top">
                <div class="title">Khách hàng</div>
                <div class="dauX"><div class="icon"></div></div>
            </div>

            <div class="dialog-add-center">
                <div class="dialog-component" style="margin-top: 7px;">
                    <div class="dialog-component-child  ">
                        <div class="right">Mã khách hàng <span>( * )</span></div>
                        <input property="customerId" class="ip" type="text" />
                        <div class="icon-danger icon-id"> </div>
                        <div class="danger-content idd">Giá trị không hợp lệ!</div>
                    </div>
                    <div class="dialog-component-child  ">
                        <div class="right">Tên khách hàng  <span>( * )</span></div>
                        <input property="customerName" class="ip" type="text" />
                        <div class="icon-danger icon-name"> </div>
                        <div class="danger-content namee">Giá trị không hợp lệ!</div>
                    </div>
                </div>
                <div class="dialog-component">
                    <div class="dialog-component-child">
                        <div class="right">Nhóm khách hàng</div>
                        <input property="customerGroup" class="ip" type="text" />
                    </div>
                </div>
                <div class="dialog-component">
                    <div class="dialog-component-child">
                        <div class="right">ĐT di động  <span>( * )</span></div>
                        <input property="phone" class="ip" type="text" />
                        <div class="icon-danger icon-phone"> </div>
                        <div class="danger-content phonee">Giá trị không hợp lệ!</div>

                    </div>
                </div>
                <div class="dialog-component">
                    <div class="dialog-component-child">
                        <div class="right">Ngày sinh  <span>( * )</span></div>
                        <input property="born" class="ip" type="date" style="overflow:hidden" />
                        <div class="stupidBoy"></div>
                        <div class="icon-danger icon-born"> </div>
                        <div class="danger-content bornn">Giá trị không hợp lệ!</div>
                    </div>
                </div>
                <div class="dialog-component">
                    <div class="dialog-component-child">
                        <div class="right">Tên công ty</div>
                        <input property="company" class="ip" type="text" />
                    </div>
                </div>
                <div class="dialog-component">
                    <div class="dialog-component-child ">
                        <div class="right">Mã số thuế</div>
                        <input property="taxCode" class="ip" type="text" />
                    </div>
                    <div class="dialog-component-child ">
                        <div class="right">Email</div>
                        <input property="email" class="ip" type="text" />
                    </div>
                </div>
                <div class="dialog-component">
                    <div class="dialog-component-child">
                        <div class="right">Địa chỉ</div>
                        <input property="andress" class="ip" type="text" style="width: 528px;" />
                    </div>
                </div>
                <div class="ghichu">
                    <div class="right">Ghi chú</div>
                    <input property="note" class="ip" id="haizz" />
                    <div class="check"><input type="checkbox" style="margin-top: 20px;"> Ngừng theo dõi</div>
                </div>

            </div>

            <div class="dialog-add-bottom">
                <button class="help">
                    <div class="icon-bottom"></div>
                    <div class="content-bottom">Giúp</div>
                </button>
                <button class="save">
                    <div class="icon-bottom"></div>
                    <div class="content-bottom">Cất</div>
                </button>
                <button class="save-add">
                    <div class="icon-bottom"></div>
                    <div class="content-bottom">Cất & Thêm</div>
                </button>
                <button class="cancel">
                    <div class="icon-bottom"></div>
                    <div class="content-bottom">Hủy</div>
                </button>
            </div>
        </div>

        <!---Dialod Xóa-->
        <div id="dialog-delete">
            <div class="dialog-delete-top">
                CUKCUK-Quản lý nhà hàng
            </div>
            <div class="dialog-delete-center">
                <div class="icon"></div>
                <div class="content"></div>
            </div>
            <div class="dialog-delete-bottom">
                <button class="yes">Có</button>
                <button class="no">Không</button>
            </div>
        </div>
        <!--Dialog xác nhậ sự thay đổi dữ liệu trong form-->
        <div class="dialog-cofirm-change" id="add-cofirm">
            <div class="dialog-cofirm-change-top">
                CUKCUK-Quản lý nhà hàng
            </div>
            <div class="dialog-cofirm-change-center">
                <div class="icon"></div>
                <div class="content">Dữ liệu đã thay đổi, bạn có muốn cất không?</div>
            </div>
            <div class="dialog-cofirm-change-bottom">
                <button class="yes">Có</button>
                <button class="no">Không</button>
                <button class="cancel">Hủy</button>
            </div>
        </div>
        <div class="dialog-cofirm-change" id="edit-cofirm">
            <div class="dialog-cofirm-change-top">
                CUKCUK-Quản lý nhà hàng
            </div>
            <div class="dialog-cofirm-change-center">
                <div class="icon"></div>
                <div class="content">Dữ liệu đã thay đổi, bạn có muốn cất không?</div>
            </div>
            <div class="dialog-cofirm-change-bottom">
                <button class="yes">Có</button>
                <button class="no">Không</button>
                <button class="cancel">Hủy</button>
            </div>
        </div>


    </div>
    <!--<script src="../Scripts/libraries/bootstrap.min.js"></script>-->
    <script src="../Scripts/libraries/jquery-3.4.1.js"></script>
    <script src="../Scripts/libraries/jquery-1.12.4.js"></script>
    <script src="../Scripts/libraries/jquery-ui.js"></script>
    <script src="../Scripts/common/common.js"></script>
    <script src="../Scripts/common/base.js"></script>
    <script src="../Scripts/views/receipt.js"></script>

</body>
</html>

